.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 2px solid rgb(181, 169, 169);
}
button {
    padding: 10px;
    border-radius: 20px;
}
.header {
    position: sticky;
    top: 0;
    background-color: white;
}

.filtering {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    flex-wrap: wrap;
}

.filtering input,
.filtering select {
    padding: .7rem;
    border: 1px solid rgb(241, 236, 236);
    border-radius: 10px;
    background-color: white;

}
 
.countries {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5%;
    margin: 1rem;
}

.country {
    box-sizing: border-box;
    width: 250px;
    border: 1px solid rgb(240, 234, 234);
    margin-bottom: 5%;
    border-radius: 10px;
}

.flag {
    width: 100%;
    max-height: 45%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info {
    padding: 0px 0px 0px 1rem;
    color: rgb(78, 73, 73);
    margin: 1px;
}

span {
    font-weight: 450;
}
