.btn {
    margin: 2rem;
    padding: 10px 15px;
}
.arrow {
    font-weight: 300;
}
.countryPage {
    height: 100vh;
}
.singleCountry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.Countryflag {
    width: 50%;
}

.Countryflag img {
    width: 100%;
}

.details {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

}

.countryDetails {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.right,
.left {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.name {
    font-weight: 600;
}

.footer {
    border: 1px solid rgb(222, 211, 211);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
}

@media (min-width:525px) {
    .countryDetails {
        flex-direction: row;
    }
}
